[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/dbext.vim"]
	path = .vim/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip
[submodule ".vim/bundle/matchtagalways"]
	path = .vim/bundle/matchtagalways
	url = https://github.com/valloric/matchtagalways
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule ".vim/bundle/vcoolor.vim"]
	path = .vim/bundle/vcoolor.vim
	url = https://github.com/kabbamine/vcoolor.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-multiuser"]
	path = .vim/bundle/vim-multiuser
	url = https://github.com/emgram769/vim-multiuser
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-gradle"]
	path = .vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-mundo"]
	path = .vim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule ".vim/bundle/smarty.vim"]
	path = .vim/bundle/smarty.vim
	url = https://github.com/blueyed/smarty.vim.git
