set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set colored-stats on
set completion-prefix-display-length 3
set mark-symlinked-directories on
set visible-stats on
set enable-bracketed-paste on
set skip-completed-text on
set keyseq-timeout 10

"\C-i": menu-complete
"\e[Z": menu-complete-backward
"\e[1;5D": backward-word
"\e[1;5C": forward-word
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\C-p": history-search-backward
"\C-n": history-search-forward
"\ef": character-search
"\eF": character-search-backward
"\eA": end-of-line
"\eI": beginning-of-line
"\es": "\eA\C-u"
