extends html

snippet iflocal "if localhost"
{if $smarty.server.REMOTE_ADDR == "${1:`curl ipinfo.io/ip`}"}
	$2
{/if}$0
endsnippet

snippet fullurl "get page url" i
{if $smarty.server.HTTPS}https{else}http{/if}://{$smarty.server.HTTP_HOST}{$smarty.server.REQUEST_URI}
endsnippet
